# used to name the ipa
APP_NAME=jiyin360

# directory to store exported ipa
APP_DIR=~/Desktop/app

# the absolute path to the project directory
PROJECT_DIR=${WORKSPACE}/code/jiyin360
# project name, the same as the .xcodeproj file name
PROJECT_NAME="jiyin360"

# scheme name
SCHEME_NAME="jiyin360"

# profile name
PROFILE_NAME="360jiyin_adHoc"

# configuration for archive
CONFIGURATION="Release"

# login password, to unlock login keychain
LOGIN_PASSWORD="123"

#jenkins workspacePath
JENKINS_APPBUILD_PATH=${WORKSPACE}/.././builds/${BUILD_NUMBER}
